

// Variables- 

$secondary-color: #b2d4cb;
$primary-color:#264065;
$terciary-color:#909090;
$pastel-color:rgb(249, 248, 244);

// Fonts 

$poppins:"Poppins", serif;
$nunito:"Nunito Sans", sans-serif;

